/* You can customize styles here */

/* Sticky Header */
.sticky-header {
  position: sticky;
  top: 0;
  z-index: 39; /* Adjust as needed */
  background-color: white; /* Adjust background color as needed */
  text-align: center; /* Center align content */
  color: white;
  border-bottom: 2px solid #ccc; /* Solid border bottom */
  height: 60px; /* Specify height */
}

/* Sticky Footer */
.sticky-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 39; /* Adjust as needed */
  background-color: white; /* Adjust background color as needed */
  text-align: center; /* Center align content */
  color: white;
  border-top: 2px solid #ccc; /* Solid border top */
  height: 40px; /* Specify height */
}

/* Center vertically & horizontally */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 800;
}
